
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

  body {
      margin: 0;
      padding: 0;
      background-color: #1d3557;
  }
  .frame {
    width: 52%;
    margin: 40px auto;
    text-align: left;
  }
  
  #container {
      position: absolute;
      padding: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8rem;
  }
  
  button {
      padding: 10px 40px;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
  }
  
  #transparent {
      background: none;
      border: 3px solid #90e0ef;
      color: #90e0ef;
      transition: border 300ms ease, transform 800ms ease;
      border-radius: 50px;
  }
  
  #transparent:hover {
      transform: scale(1.05);
      border-color: #90e0ef transparent;
  }
  
  #transparent:active {
      transform: scale(0.9);
  }
  
  #shadow {
      border-radius: 10px;
      border: 2px solid #000;
      box-shadow: 10px 10px;
      background-color: #fec89a;
      transition: box-shadow 300ms ease, transform 500ms ease;
  }
  
  #shadow:hover {
      box-shadow: none;
  }
  
  #shadow:active {
      transform: scale(0.9);
  }
  
  #skew {
      border-radius: 20px 0px 20px 0px;
      background-color: #fca311;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      transition: border-radius 500ms ease, transform 500ms ease;
  }
  
  #skew:hover {
      border-radius: 0px 20px 0px 20px;
      transform: skew(-10deg);
  }
  
  #skew:active {
      transform: scale(0.9);
  }
  
  #shiny {
      border-radius: 50px;
      border: none;
      background: #a7c957;
      position: relative;
      overflow: hidden;
  }
  
  #shiny::before {
      content: "";
      width: 15rem;
      height: 1.5rem;
      position: absolute;
      top: -70%;
      left: -60%;
      background-color: #f2e8cf;
      transform: rotateZ(115deg);
      transition: left 800ms ease, transform 800ms ease;
  }
  
  #shiny:hover:before {
      left: 70%;
  }
  
  #shiny:active {
      transform: scale(0.98);
  }
  
  #circle {
      width: 11rem;
      border-radius: 10px;
      border: 3px solid #ffb703;
      background: none;
      color: #ffb703;
      position: relative;
      overflow: hidden;
      transition: background 800ms ease, color 800ms ease, transform 500ms ease;
  }
  
  #circle::before {
      content: "";
      width: 100%;
      height: 11rem;
      background: #ffb703;
      position: absolute;
      left: 0;
      top: 110%;
      border-radius: 50%;
      transition: top 500ms ease;
      z-index: -1;
  }
  
  #circle:hover:before {
      top: -150%;
  }
  
  #circle:hover {
      background: #ffb703;
      color: #fff;
  }
  
  #circle:active {
      transform: scale(0.9);
  }
  
  #submit {
      background-color: #f49f1f;
      border: none;
      border-radius: 50px;
      width: 10rem;
      position: relative;
      overflow: hidden;
      transition: transform 500ms ease;
  }
  
  #submit::before {
      content: "";
      background-color: #08df66;
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: width 500ms ease;
  }
  
  #submit::after {
      content: "";
      background-image: url("https://cdn-icons-png.flaticon.com/24/2767/2767192.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 0%;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 500ms ease;
  }
  
  #submit:hover:before,
  #submit:hover:after {
      width: 100%;
  }
  
  #submit:active {
      transform: scale(0.9);
  }
  
  #copy {
    background-color: #04c447;
    border: none;
   color:white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {display: block;}
  