@media (min-width: 1200px) {
    .container{
        max-width: 1500px;
    }
}
.h1-edit{
 color:#FF69B4; 
    font-family: "Great Vibes", cursive;
     font-size: 100px;
      line-height: 80px;
       font-weight: normal;
        margin-bottom: 0px;
         margin-top: 40px;
          text-align: Center; 
          text-shadow: 0 1px 1px #fff; 
    
}
body {
    margin-top: 20px;
    background-color: #f7f7fc;
}
.leftCorner {
    margin-left:-200%;/* whatever */
  }
.card-subtitle,
.card-title {
    font-weight: 400;
}
.card-title {
    font-size: 0.875rem;
    color: #495057;
}
.big-checkbox {width: 30px; height: 30px;}
.card {
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffebee;
    background-clip: initial;
    border: 0 solid transparent;
    border-radius: 0.25rem;
}
.card-body {
    height: 200px;
    overflow: hidden;
    width: 100%;
    flex: 1 1 auto;
}
.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}
.card-header {
    border-bottom-width: 1px;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.card-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 0 solid transparent;
}
